@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Martian+Mono:wght@400;600&family=Permanent+Marker&family=Rubik+Dirt&family=Rubik+Doodle+Triangles&family=Rubik+Glitch&display=swap&family=Megrim&display=swap&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.lacquer {
    font-family: 'Lacquer', monospace;
}

.martian {
    font-family: 'martian', monospace;
}

.permanent {
    font-family: 'Permanent Marker', monospace;
}

.rubik {
    font-family: 'Rubik Dirt', monospace;
}

.rubik-doodle-triangles {
    font-family: 'Rubik Doodle Triangles', monospace;
}

.rubik-glitch {
    font-family: 'Rubik Glitch', monospace;
}

.megrim {
    font-family: 'Megrim', monospace;
}