@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Martian+Mono:wght@400;600&family=Permanent+Marker&family=Rubik+Dirt&family=Rubik+Doodle+Triangles&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.lacquer {
    font-family: 'Lacquer', monospace;
}

.martian {
    font-family: 'martian', monospace;
}

.permanent {
    font-family: 'Permanent Marker', monospace;
}

.rubik {
    font-family: 'Rubik Dirt', monospace;
}